job "search-ui" {
  datacenters = ["dc1"]

  type = "service"

  group "search-ui" {
    count = 1

    network {
       port "search-ui-http" {
         to = 5000
       }
    }

    service {
      name = "search-ui"
      port = "search-ui-http"
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.search-ui-http.rule=PathPrefix(`/search`)",
        "traefik.http.routers.search-ui-http.priority=10"
      ]
    }

    task "server" {

      driver = "docker"

      env {
        REACT_APP_MODEL_BAZAAR_URL = "http://{{ PUBLIC_SERVER_IP }}"
      }

      config {
        image = "thirdaistaging.azurecr.io/search-ui-job:latest"
        ports = ["search-ui-http"]
        group_add = ["4646"]
        auth {
          username = "NomadToken"
          password = "FO15fMI9CxZFn8fLL45ZiphDhNAA8SBGaHjfRCZHD0+ACRBr3VLA"
          server_address = "thirdaistaging.azurecr.io"
        }
      }

      resources {
        cpu    = 500
        memory = 1000
      }
    }
  }
}