job "traefik" {
  datacenters = ["dc1"]

  type = "service"

  constraint {
    attribute = "${node.class}"
    value = "web_ingress"
  }

  node_pool = "{{ NODE_POOL }}"

  group "traefik" {
    count = 1

    network {
      port  "http_private" {
          static = 80
          host_network = "public"
      }
      
      port  "admin" {
          static = 8080
          host_network = "private"
      }
    }

    service {
      name = "traefik"
      provider = "nomad"
    }

    task "server" {
      driver = "docker"
      config {
        image = "traefik:v2.10"
        ports = ["admin"]
        args = [
          "--api.dashboard=true",
          "--entrypoints.web.address=:80",
          "--entrypoints.traefik.address=:${NOMAD_PORT_admin}",
          "--providers.nomad=true",
          "--providers.nomad.endpoint.address=http://{{ PRIVATE_SERVER_IP }}:4646" ### IP to your nomad server 
        ]
      }
    }
  }
}
