job "traefik" {
  datacenters = ["dc1"]

  type = "service"

  constraint {
    attribute = "${node.class}"
    value = "web_ingress"
  }

  node_pool = "{{ NODE_POOL }}"

  group "traefik" {
    count = 1

    network {
      port  "http-private" {
          static = 80
          host = "private"
      }
      port  "http-public" {
          static = 80
          host = "public"
      }
      port  "admin" {
          static = 8080
          host = "private"
      }
    }

    service {
      name = "traefik-http"
      provider = "nomad"
      port = "http"
    }

    task "server" {
      driver = "docker"
      config {
        image = "traefik:v2.10"
        ports = ["admin", "http"]
        args = [
          "--api.dashboard=true",
          "--entrypoints.web.address={{ PRIVATE_SERVER_IP }}:${NOMAD_PORT_http-private};{{ PUBLIC_SERVER_IP }}:${NOMAD_PORT_http-public}",
          "--entrypoints.traefik.address={{ PRIVATE_SERVER_IP }}:${NOMAD_PORT_admin}",
          "--providers.nomad=true",
          "--providers.nomad.endpoint.address=http://{{ PRIVATE_SERVER_IP }}:4646" ### IP to your nomad server 
        ]
      }
    }
  }
}
